

// блок хитов продаж ... (главная страница)
#block-mkmod-top-sales {margin-bottom: 1em;
	> h2 {@extend %h-tag;@extend %h-tag-icon;background-image:url(../imgs/h1-ico-star.png); }
	.content {box-sizing: border-box;padding:0 1em;@extend %flex-slick-block-content;}
}

// блок новостей на главной .. 
#block-mkmod-news-list {margin-bottom: 1em;
	> h2 {@extend %h-tag;@extend %h-tag-icon;background-image:url(../imgs/h1-ico-news.png); }
	> .content {display: flex;justify-content: space-between;
		
		> .node {margin:0 0.5em;flex-basis: 100%;;box-sizing: border-box;padding: 1em 1em 1em 4em;background:url(../imgs/news-item-block.png) 0.5em 50% no-repeat, white;display: flex;flex-direction: column;
			&:hover {box-shadow: 0 0 1.2em -0.7em black;}

			.title {font-size: 1.14285em;color:black;text-decoration: none;flex-grow: 1;}
			.wrap {margin-top:0.5em;display: flex;justify-content: space-between;
				.date {opacity: 0.48;}
				.more {color:$rcolor;text-decoration: none;
					span {border-bottom: 1px solid $rcolor;}
					&::after {content:'→';}
				}
			}
		}
		@media screen and (max-width: 740px){flex-direction: column;margin:0;
			> .node {margin:0 0 1em;}
		}
	}
}
// блок статей  ..
#block-mkmod-articles-list {margin-bottom: 1em;
	> h2 {@extend %h-tag;@extend %h-tag-icon;background-image:url(../imgs/h1-ico-articles.png); }
	.content  {margin-bottom: 3em;@extend %flex-slick-block-content;
		.node {margin:0 0.5em;padding: 1em;box-sizing: border-box;background: white;display: flex;flex-direction: column;
			&:hover {box-shadow: 0 0 1.2em -0.7em black;}
			.wrap {display: flex;justify-content: space-between;margin-top:1em;padding-top: 1em;border-top:1px solid #e0e0e0;
				.views {font-size: 0.857em;padding-left: 2em;background:url(../imgs/views-oko.png) 0 50% no-repeat;background-size: 1.5em;}
				.more {text-decoration: none;color:$scolor;
					&::after {content:'→';}
				}
			}
			.title {text-align: center;flex-grow: 1;
				a {color:#060b0f;font-size: 1.2857em;text-decoration: none;}
			}
			.field-type-image img {margin:0 auto;max-width: 100%;height: auto;}
		}
		
	}
}

.vendors-list,#block-block-12 {margin-bottom: 1em;
	> h2 {@extend %h-tag;@extend %h-tag-icon;background-image:url(../imgs/h1-ico-vendors.png); }
	.content p{@extend %flex-slick-block-content;padding:0 3em;
		a{display: inline-block;margin:0 0.3em;
			img {width: 100%!important;height: auto!important;}
		}
		.slick-arrow {opacity:1; box-shadow: none;background: none;width: auto;font-size: 1.5em;
			&:hover {background: none;color:$scolor;}
			//&.prev-product {left:0;}
			//&.next-product {right:-1em;}
		}
	}
}

.contects-block {background-color: white;@extend %block-shadow;display: flex;color:#272727;font-size: 1.286em;font-weight: bold;justify-content: space-between;
	> div {border-left: 1px solid #d9d9d9;display: flex;flex-direction: column;justify-content: space-around;box-sizing:border-box;padding: 0 0.5em;
		&:first-child {border:none;}
		&.logo {text-align: center;align-items: center;
			img {max-width: 100%;height: auto;}
		}
		&.phones , &.mails {
			> div{display: flex;justify-content: flex-start;align-items:center;
				&::before {content:'';width: 2em;height: 2em;display:block; background-position: 50% 50%; background-repeat: no-repeat;background-size: 1.72em;margin-right: 0.5em;}
				&.phones::before {background-image: url(../imgs/why-we/phone.png);}
				&.ws::before {background-image: url(../imgs/why-we/wa.png);}
				&.mail::before {background-image: url(../imgs/why-we/mail.png);}
				&.time::before {background-image: url(../imgs/why-we/time.png);}
				.colored {font-size: 0.83em; color:$scolor;}
			}
			@media screen and (max-width: 1024px) {align-items: center;}
		}
		&.otzivbtn {padding: 1em;@extend %redgrad;color:white;align-items: center;cursor: pointer;text-align: center;}
	}
	@media screen and (max-width: 1024px){flex-wrap: wrap;
		> div {flex-basis: 50%;
			&:nth-child(2n-1) {border:none;}
		}
		@media (max-width: 725px) {display: block;
			> div {border:none;margin-bottom: 0.5em;}
		}
	}
}

/// слайдер акций ... 
#block-mkmod-akcii-slider-big {margin-top:1.5em;
	@media screen and (max-width: 799px){display: none;}
	font-size: 1.3em;
	$propor:395 / 1181  ; 
	//height: 1480px * $propor;
	$sizes:(1480px 1.35em,1320px 1.15em,1230px 1.1em,1100px 0.95em,1000px 0.9em, 900px 0.85em,850px,0.80em);
	.content {@extend %flex-slick-block-content;
		.slick-track .slider-el {height: 1480px * $propor; /* 28.214em;*/}
		.slider-el {background:url(../imgs/slider-akcia-bg.jpg) 50% 50% / contain no-repeat;width: 84.43em;box-sizing:border-box;padding:7.5em 49em 5.5em 8.85em;position:relative;color:black;
			h2 {font-size: 2em;font-weight: bold;margin:0;}
			.body {font-size: 1.1428em;}
			.more-link {text-decoration: none;@extend %btn1;display: inline-block;font-size: 1.1428em;margin-top: 0.5em;
				&::after {content:'→';padding-left: 0.3em;}
			}
			$acolor:#dd1301;
			.prices {position: absolute;top:50%;left: 50%;width:11em;height: 11em;margin: -5.5em 0 0 -5.5em;border:5px solid $acolor;border-radius: 50%;box-sizing: border-box;text-align: center;background-color: white;color:$acolor;font-weight: bold;text-transform: uppercase;
				.title, .new {font-size: 1.4128em;padding-top:0.7em;}
				.new {padding: 0;font-size: 2.3571em;}
				.v {font-size: 1.1em;color:#dd1301;}
				.old {text-decoration: line-through;color:black;font-size: 1.255em;text-transform: none;}
			}
			.kartinko{position: absolute;width:23em;height: 18em;right: 2em;bottom:2em; background-position: 50% 50%;background-repeat: no-repeat;background-color: white;border:5px solid $acolor;border-radius: 6em/3em 0 0 6em;box-shadow: 0.3em 0.3em 2em 0 black;}

			// 1182 395 
			&.akcia-1 {background-image: url(../imgs/slider-akcia-bg.jpg);} 
			&.news-1 {background-image: url(../imgs/slider-news-bg.png); color: white;} 
			&.news-2 {background-image: url(../imgs/slider-news-bg2.jpg); color: white;} 
			&.akcia-2 {background-image: url(../imgs/slider-akcia-bg2.jpg); color: white;
				.kartinko {box-shadow: 0.3em 0.3em 2em -1em white;}
			} 
		}
	}
	@media screen and (max-width: 1480px) {font-size: 0.9em;	
		.slick-list {width: 100%;

			.slick-track .slider-el{background-size: cover;padding-right: 50em;//margin-right: 1em;
				@each $size,$font in $sizes{   
					@media (max-width: $size){height: $size * $propor;font-size: $font;}
				}
			//	@media (max-width: 1000px){height: 1000px*$propor;}
			//	@media (max-width: 1100px){height: 1100px*$propor;}

			}
		}
		
	}
}


#hitro-links-list-form {
	.form-actions input {margin-right: 1em;}
}

form.tags-edit-form {
	.buttons-ajax {display: flex;
		input {margin: 0.5em;
			&:first-child {margin-left: 0;}
		}
	}
}

/**
 * блок сортировки товара в каталоге ..
 * @type {[type]}
 */
.products-sort-block {background-color: white;margin:0 1em;padding: 1em 2em;display: flex;
	span.header-block {font-weight: bold;}
	ul.links {margin:0;display: flex;flex-wrap: wrap;
		li {list-style: none outside none;padding: 0 1em;
			a {text-decoration: none;font-weight: normal;}
			&.current{@extend %fontas;
				&::before {content:'\f14a';padding-right: 0.3em;color:$scolor;}
				a {border-bottom: 1px dotted $scolor;font-weight: normal;color:$scolor;}
			}
		}
	}
	@media screen and (max-width: 430px){flex-direction: column;
		ul.links {padding: 0.5em 0 0;
			li {padding: 0;}display: block;
		}
	}
}


/**
 * блок со ссылками .. выше цен ... 
 */
#block-hitrolinks-menu-hl-block {margin-bottom: 1em;padding:1.5em;@extend %filter-el-capt;
	
	.content {font-size: 1.14em;
		ul {margin:0 0 0.5em; padding: 0;
			li {list-style: none outside none;margin:0.7em 0;
				@media screen and (max-width: $black-style) {margin:0;padding: 0.35em 0;border-bottom:1px solid #2e2e2f;}
				.wrapper {display: flex;justify-content: space-between;align-items:center;
					.ptaha {cursor: pointer;display: block;width: 9px;height: 9px;background: url(../imgs/arrows-filter-menu.png) 50% 100% no-repeat;
						&.opened {background-position: 50% 0;}
						@media screen and (max-width: $black-style){background: $scolor;@include multibrowser('mask',url(../imgs/arrows-filter-menu.png) 50% 100% no-repeat);
							&.opened {@include multibrowser('mask',url(../imgs/arrows-filter-menu.png) 50% 0 no-repeat);}
						}
					}
				}
				a {text-decoration: none;color: #686868;} 
				&.opened {
					ul {display: block;}
				}
				&:hover > a, &:hover .wrapper a{color:$scolor;}
				&.el-invis {display: none;}
			}
			ul {padding-left: 1em;display: none;}
		}
		.show-more-elements {@extend %btn1;border:1px solid $rcolor;color:$rcolor;text-align: center;color:$rcolor;background: none;cursor: pointer;font-size: 1em;width: 70%;margin: 0.5em auto 0;
			&:hover {border:1px solid $scolor;background: $scolor;color:white;}
		}
	}
}

/**
 * форма фильтра .. товаров .
 */
#block-mkmod-product-filter {box-sizing:border-box; padding:1.5em ;

	@at-root form.form-of-filters {padding:0.5em;position:relative;
		fieldset {border:none;margin:0 0 1.5em; @extend %filter-el-capt;

			&.delta-price {
				.text-fields-wrap {display: flex; flex-basis: 100%;justify-content: space-around;align-items:center;
					div {display: inline-block;border:1px solid #c7c7c7;}
					span {flex-grow: 1;width: 20%;text-align: center;flex-basis: 20%;flex-shrink: 0;}
					input { display: block; margin:0 auto;border:none;padding: 0.5em;width: 100%;box-sizing: border-box;}
				}
				.noUi-target {
					&.noUi-horizontal {height: 5px;margin:0.8em 0;}
					.noUi-connect {background-color: #e0e0e0;}
					.noUi-handle {border-radius: 50%;width: 2em;height: 2em;top:-1em;//position:relative;top:-12px;right: -7px;
						@media screen and (max-width: $black-style) {box-shadow: none;background: black;}
						&::before{display: none;}
						&::after {content:'';display: block;width: 4px;height: 4px;border-radius: 50%;background: $scolor;position: absolute;top:50%;left: 50%;margin-top:-2px;margin-left:-2px;}
					}
				}
			
			}
		}
		.form-type-checkboxes {margin: 0 0 1.5em; @extend %filter-el-capt;
			
			.form-checkboxes {
				.form-type-checkbox {display: flex;margin:0.5em 0;
					label {flex-grow: 1;font-size: 1.15em;}
				}
				&.colored-checkboxes .form-type-checkbox {margin:0.15em 0;}
			}

			.jq-checkbox {border:1px solid #d9d9d9;border-radius: 0;width: 1.5em;height: 1.5em;background:transparent;flex-shrink: 0;
				@media screen and (max-width: $black-style) {background: white;}
				&.checked  {background: url(../imgs/checbox.png) 50% 50% no-repeat, $scolor;box-shadow:none;text-align: center;border:none;
					//&::before {@extend %fontas;content:'\f00c';font-weight: bold;color:white;font-size: 0.8em;display: block;margin-top: 0.2em;}
					.jq-checkbox__flag {display: none;}
				}
			}
			.form-checkboxes.colored-checkboxes {display: flex;flex-grow: 1;flex-wrap: wrap;
				.jq-checkbox {width: 3em;height: 3em;box-shadow:none;
					&.checked {position: relative;box-shadow:0 0 0.7em -0.3em black;
						@media screen and (max-width: 850px) {box-shadow:0 0 0.7em -0.3em white;}
						&.white-color::before {content:'';position: absolute;top:50%;left: 50%;width: 14px; height:  14px;background-color: black;display: block;margin:-7px 0 0 -7px;-webkit-mask:url(../imgs/checbox.png) 50% 50% no-repeat;}
						/*&::before {content:'';position: absolute;height: 1em;width: 1em;background: red;}*/
					}
				}
			}
		}
		.form-actions input{display: block;margin:0.5em auto;width: 100%;background:none;border:1px solid black;background-origin: border-box;font-size: 1em;
			&[name='apply'] {border-color:$scolor;color:$scolor;
				&:hover{border-color:transparent; background-clip: padding-box;  background:linear-gradient(180deg, lighten($scolor,10%),darken($scolor,10%));color:white;}
				@media screen and (max-width: $black-style){color:white;background: $scolor;border-width: 3px}
			}
			&[name='clear'] {border-color: $gcolor;color:$gcolor;
				&:hover {background: #6d6f72;color:white;}
				@media screen and (max-width: $black-style){color:white;background: #6d6d6d;border:3px solid #424242;}
			}
		}
		.popup-apply-button {position: absolute;top:50%;width:15.5em; right: -15em;z-index: 10;background: white;padding: 1em;box-shadow: 0 0 1em -0.5em black;box-sizing:border-box;display: none;
			&.vis {display: block;}
			input {margin:0;line-height: 1.7em;}
			.close-btn {position: absolute;top:0.2em; right: 0.2em;line-height: 1em;top:0.2em;cursor: pointer;}
			&::before {content:'';position: absolute;width: 0em;height: 0em;border:0.5em solid white;border-left-color:transparent;border-top-color:transparent;border-bottom-color:transparent;top:50%;margin-top:-0.5em;left:-1em;box-shadow: 0 0 1em -0.5em black;}
		}
	}
}

// товары по акции в каталоге .. 
.akcii-in-catalog-wrapper {margin-bottom:3em;
	h2 {@extend %h-tag;@extend %h-tag-icon;background: url(../imgs/akcia-in-catalog.png) 0 50% no-repeat;background-size: 1.2em auto;}
	.product-akcions-list {
		.slick-track > div {padding: 0.5em;}
		ul.slick-dots {padding: 0.5em 3.5em;box-sizing: border-box;display: flex;bottom:-1.5em;
			li {flex-basis: 100%;height: 5px;margin: 0;
				&.slick-active {background-color: $scolor;}
				> * {display: none;}
			}
		}
		.slick-arrow {bottom: -1.7em;top:auto;opacity: 1;font-size: 1.5em;background: none;border:none;color:$gscolor;box-shadow: none;border:1px solid transparent;
			&:hover {background:none;border-color:  $scolor;color: $scolor;border-radius: 100%;}
		}
	}
}