@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

$pagebg:#f2f2f0;

// основной цвет  фирменный ..
$scolor:#C243C1;//#9e1899;
$rcolor:#c73838;
$gcolor:#b5b5b5; 
$gscolor:#6d6f72;

$text-color:#272727;

$animate-length:0.3s;

// максимальная ширина контента .. 
//$maxw:1182em / 14;
$mw:1480;
$maxwem:#{$mw/14}em;

$maxw:#{$mw}px;

$colortemnokrasniy:#b32121;

//%scolorgrad {background: linear-gradient(180deg,lighten(#be2e2e,10%),darken(#be2e2e,10%));}


$hoverfon:#141414;// фон при наведении 

// разделы для которых есть картинка иконка .. 
$ico-cats:5,620,327,407,324,22,622,623,624,104,101,625,337,107,106,110,116,150,125,232,201,459,517,121,411,631,3,133,1073;


@mixin maskimage($url){
	-webkit-mask:url($url) 50% 50% no-repeat;
	-o-mask:url($url) 50% 50% no-repeat;
	-ms-mask:url($url) 50% 50% no-repeat;
	-moz-mask:url($url) 50% 50% no-repeat;
}

@mixin multibrowser($tag,$params...){
	$prefixes:'','-o-','-ms-','-moz-','-webkit-';
	@each $pref in $prefixes {
		#{$pref+$tag}:$params;
	}
}



@import 'classes';