.cls {clear:both;}

$colorfotergray:#9f9f9f;
$colorrosoviy:#d254c9;

.rosoviy-text {color:$colorrosoviy;}
.rosoviy-bg {background:$colorrosoviy;}

.region-wrap {
	margin:0 auto;
	@media screen and (min-width:1024px){
		max-width:1200px;
	}
}


@mixin br($rad){
	border-radius:$rad;
	-moz-border-radius:$rad;
	-webkit-border-radius:$rad;
	-ms-border-radius:$rad;
}
