@import 'vars';
@import 'footer';
@import 'search';
@import 'buttons';
@import 'menu';

.not-front #main_content > .row {margin:0;}
.page-articles, .page-news {
	 #main_content > .row {margin:0 -10px;}
	 #page_title_wrap, .breadcrumb {padding-left:10px;padding-right:10px;}
}

#admin-menu ul li a.rosoviy-text {@extend .rosoviy-bg;} 

// вывод отзывов ..  о компании  (из данных формы )
.otsiv-item {border-top:1px dashed $colorrosoviy;padding:0.5em 0;
	&.unpublic {background-color:rgba(255,0,0,0.1);}
	&.public {background-color:rgba(0,255,0,0.1);}

	&:first-child {border:none;}
	.date{@extend .rosoviy-text;font-weight:bold;}
	.form-item {margin:0;line-height:1em;}
} 


// Переключатель числа записей на страницу 
.per-page-sizer {padding:0;text-align:center;
	li {display:inline-block;margin:0.5em;
		a.current {@extend .rosoviy-text;font-weight:bold;}
	}
}




// блок внимиание ..  
.warn-block {border:1px solid #b32121; padding: 0.2em 0.5em  ;color:#b32121;font-size: 1.2em;margin:1em 0;color:black;
	&::before {content:''; float:left;height:1.2em;width:1.2em;background:url(../i/kr-snakjpg3.jpg) 0 0 no-repeat;background-size:contain;  margin-right:0.5em;} 
}
.view-confirm-message-product-display .warn-block {font-size:0.9em;text-align: left;padding-left: 0.5em;margin:0;background: none;
	&::before {display:none;}
}

///  отпускаем высоту у свернутого fieldseta 
html.js fieldset.collapsed {height:auto;}


//блок Важная информация . на доставке 
.warn-block-2 {
	border:0.23em solid #d52c2c; padding: 0.2em 0.5em 0.5em 0;color:#b32121;font-size: 1.5em;margin:1em 0;min-height: 8em;position:relative;
	&::before {width:4em;height:8em;background: url(../i/kr-snakjpg3.jpg) 50% 50% no-repeat;background-size:contain;display:block;content:'';position:absolute;top:0;left:1px;}
	.titl {font-size: 1.14em;margin-left:3em;}
	ul {margin:0 0 0 3em;padding:0 0 0 2.5em!important;
		li {font-size: 0.8em;
			span {color:black;}
		} 
	}
	
}

// слайдер объявлений .. на главной 
.slider-discont-main,.ad-main {
	.content {background:#FFF;padding:8px;border:1px solid #ccc;float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:10px 0;}

}

// слайдер на главной .. общий стиль ... 
.slick-slider-in-blocks-on-front {
	.slick-arrow {z-index:5;border-radius:50%;overflow:hidden;width:3em;height:3em;font-size:1em;display:none!important;
		&::before {font-size:3em;display:block;font-family:FontAwesome;color:$colorrosoviy}
	}
	.slick-prev {left:25px;
		&::before {content:'\f137';}
	}
	.slick-next {right:25px;
		&::before {content:'\f138';}
	}
	&:hover .slick-arrow {display:block!important;}
}


.ad-main {
	.slick-slider {
		@extend .slick-slider-in-blocks-on-front;
		.node-ad-for-main.node-teaser {position: relative;height: 312px;display: block;
			&::before {content:'';display:inline-block;height:312px;width:0;vertical-align:middle;position:relative;z-index:6;}
			.grad-bg,.image-bg  {height:100%;width:100%;position:absolute;z-index:5;left:0;top:0;}
			.image-bg {background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
			.field-name-body {width:98%;margin:0 auto;display:inline-block;vertical-align:middle;position:relative;z-index:6;}
			

		}
	}
}


// слайдер акций 
.slider-discont-main .content {
	.slider-main-big {
		margin:0 -24px;
		@extend .slick-slider-in-blocks-on-front;
		.slick-arrow {top:85%;}
	}
	.akcion-big-el {padding:0 24px;
		h2 {color:#B32121;font-size:30px;line-height:17px;margin-bottom:0;
			span {display:block;
				& + span{font-size:18px;margin: 7px 0 0 0;}
			}
		}
		div.body {color:#555; height:3em; overflow:hidden;}
		.price_discount_wrap{float:left;width:100%;}
		.price_buy_button {
			.discount_price{float:left;background:#AD31AE;color:#fff;font-size:20px;padding:2px 14px 3px 25px;border-radius:4px;margin:0 10px 0  -24px;position:relative;
				&::before {background:#444;width:6px;height:20px;float:left;left:0;top:-4px;z-index:-1;content:"";position:absolute;-webkit-border-radius:6px 0 0 0;border-radius:6px 0 0 0;}
			}
			.discount_price span {text-transform: lowercase;}
			.buy_prod_button{position:relative;float:left;margin:12px 0 0 -24px;z-index:5;
				a {display:block;background:#b32121 url(/sites/all/themes/mk/i/icon_cart_product.png) 10px 5px no-repeat;border:0 none;-webkit-border-radius:4px;border-radius:4px;color:#FFF;font-size:12px;text-transform:uppercase;padding:8px 10px 8px 39px;outline:none;position:relative;}
				&::before {background:#444;width:6px;height:20px;float:left;left:0;top:-4px;z-index:-1;content:"";position:absolute;-webkit-border-radius:6px 0 0 0;border-radius:6px 0 0 0;}
			}

		}
		.old_price{float: left; width: 60%; text-align: center; color: #010101; font-size: 14px; margin: -28px 40% 0 94px;
			span {position:relative;text-transform: lowercase;
				.crossed:after{content:"";position:absolute;top:50%;left:0;width:100%;height:1px;background:red;}
			}
		}

	}
	.akcion-small-el{cursor:pointer;margin:0 4px;
		.pic{padding-left:0;padding-right:0;
			img {border:1px solid #FFFFFF;padding:0;}
		}
		.info {
			.price{color:#B32121;font-size:12px;}
			.old_price{font-size:10px;color:#020202;text-decoration:line-through;}
		}

	}
	.slider-main-small {background: #F5F5F5;padding: 5px 35px;
		@media screen and (max-width:650px){display:none;}
		.slick-prev{left:12px;opacity:1!important;top:50%;z-index: 20;}
		.slick-next{right:12px;opacity:1!important;top:50%;z-index: 20;}
	}
	.slick-arrow::before  {color:black;}



}
 

// слайдер объявление 
.not-front #block-mkmod-ad-block {padding:0;}



// иконки соцсетей 
.rekv-token .whatsap-ico {display:inline-block;width:1.5em;height:1.5em;background:url(../i/icon_whatsapp.png) 0 0 no-repeat;background-size:contain;vertical-align:middle}
/*
.limits{display:none;}
#block-views-main-slider-main-slider-focus{float:left;width:100%;}
#block-views-dfc135f0d7bdb4e809e16fa5b77d4dbf{float:left;width:100%;}
.slider-discont-main .slider-main-small {}
*/



// табы в товаре . переделано 
#block-system-main .product.full.node .taba-title {color:$colorrosoviy;text-align:center;}
#block-system-main .product.full.node .product-tabs {
	
	margin:0;padding:0;font-size:1.1em;font-family:Verdana,Arial;
	@media screen and (max-width: 769px) {
  		& {font-size: 0.7em;}
	}
	@media screen and (max-width: 479px) {
	  	& {font-size: 0.6em;}
	}
	@media screen and (max-width: 390px) {
	  	& {font-size: 0.5em;} 
	}

	li {
		display:inline-block;padding:0.5em 1em;border:1px solid #d3d3d3;border-radius:3px 3px 0 0;border-bottom:none;
	}

}
.current-content-of-tab {padding:1em;background-color:#f7f7f7;
	.wrap {padding:0.3em;background:white;}
}




/* Оптовики ... страница  */
#node-1566 {
	.mini-titl-1 {color:block;font-size:1.428em;font-style:italic;}
	.mini-titl-2 {color:#600061;font-size:1.67em;}
	img { width:100%;height:auto;}


	ul.optovik-list-punkts {
		&::after {display:block;column-count:auto;content:'';}
		padding:0!important;column-count:2;color:#616161;overflow:hidden;font-size:1.14em;
		@media screen and (max-width:570px){
			& {column-count:auto;}
		}
		li {margin:0.5%;box-sizing:border-box;padding: 0 0  0.5em 4.125em;vertical-align:top;background-position:0 3px;background-repeat:no-repeat;min-height:3.5em;list-style:none outside none!important;font-weight:bold;
			&.mt-1 {margin-top:1em;}
			@media screen and (max-width:570px){
				& {min-height:5em;padding-left:5em;}
				&.mt-1 {margin-top:0;}
			}
			&.optovik-1 {background-image:url(../i/time-money-ico.png);}
			&.optovik-2 {background-image:url(../i/percent-sale-ico.png);}
			&.optovik-3 {background-image:url(../i/gruz-sendor-ico.png);}
			&.optovik-4 {background-image:url(../i/money-hand-ico.png);}
			&.optovik-5 {background-image:url(../i/organizacia-ico.png);}
			&.optovik-6 {background-image:url(../i/regim-obj-ico.png);}
			&.optovik-7 {background-image:url(../i/podbor-mater-ico.png);}
			&.optovik-8 {background-image:url(../i/product-infa-ico.png);}
			&.optovik-9 {background-image:url(../i/buch-info-ico.png);}
			&.optovik-10 {background-image:url(../i/map-ico.png);}
			&.optovik-11 {background-image:url(../i/transport-ico.png);}
			&.optovik-12 {background-image:url(../i/bud-dom-ico.png);}
			&.breakpoint {break-after:column;}
		}
	}

	ul.reg-places {margin:-0.5em;padding:0;
		li {list-style:none outside none;margin:0.9%;background-color:#e0fbfb;width:48%;float:left;box-sizing:border-box;font-size:1.428em;text-transform:uppercase;vertical-align:middle;padding:0.7em 0 0.7em 4.75em;background-position:0.5em 50%;background-repeat:no-repeat; 
			@media screen and (max-width:710px){
				width:100%;
			}
			&.reg-on-1 {background-image:url(../i/postavkin-portal.png);}
			&.reg-on-2 {background-image:url(../i/u-torg-platform.png);}
			&.reg-on-3 {background-image:url(../i/u-torg-place.png);}
			&.reg-on-4 {background-image:url(../i/zakupka-portal.png);}
		}
	}
	.jobs-mit-uns {
		padding:0 3em;
		img {border:1px solid #e0e0e0;border-radius:0.5em;display:block;margin:0.5em;}
		.slick-arrow {display:block;width:2em;height:2em;border:2px solid #636262;border-radius:50%;position:absolute;top:50%;margin-top:-1em;cursor:pointer;text-align:center;line-height:2em;color:#de85d3;
			&.slic-prev-arr {left:0em;}
			&.slic-next-arr {right:0em;}
		}
	}
}






/* START CHECKOUT PAGE */
.checkout-form-element {
	width:580px;margin:  0 auto 0.5em;
	&::after {display:block;content:'';clear:both;}
	@media screen and (max-width:630px){
		width:100%;
	}
}

body.page-checkout #block-system-main {
	padding: 10px;
	.commerce-line-item-views-form {
		.commerce-line-item-actions {display: none;}		
	}
	.views-field-title a {
		text-decoration: none !important;
		color: #999 !important;
		cursor: default;
	}
	.checkout-buttons {text-align:right;max-width:580px;margin:0 auto;
		.checkout-cancel {float:left;}
	}
	.el-assept-politik {@extend .checkout-form-element;
		input {margin:0;}
	}	
	.link-politik {text-align:center;}
	.form-wrapper {
		@extend .checkout-form-element;
		label {float: left;width: 150px;margin: 3px 0 0 0;padding: 0;}
		label + input, label + div {float: right;width: 422px;} 
		@media screen and (max-width:630px){
			label,label + input, label + div {float:none;width:100%;}
		}
			
	}
		




}
/*
body.page-checkout .customer_profile_billing .fieldset-wrapper label + 
body.page-checkout .customer_profile_billing .fieldset-wrapper label + div {float: right;width: 422px;}

*/


/*
.checkout-buttons {text-align:right;width:580px;margin:0 auto;}
body.page-checkout #block-system-main {padding-left: 10px;padding-right: 10px;}
body.page-checkout .customer_profile_billing {float: left;width: 100%;margin: 5px 0 0 0;}
body.page-checkout .customer_profile_billing > legend {border: 0 none;color: #d254c9;width: 580px;margin: 0 auto 20px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper {margin: 0 auto;}
body.page-checkout .customer_profile_billing .fieldset-wrapper .form-wrapper, body.page-checkout .link-politik {max-width: 580px;margin-right: auto;margin-left: auto;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label {float: left;width: 150px;margin: 3px 0 0 0;padding: 0;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label + input {float: right;width: 422px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label + div {float: right;width: 422px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper > div {width: 100%;margin: 0 0 20px 0; overflow: hidden;}
body.page-checkout .customer_profile_billing .fieldset-wrapper input, 
body.page-checkout .customer_profile_billing .fieldset-wrapper textarea {float: left;margin: 0;padding: 0;width: 422px;border: 1px solid #B0B0B0;padding: 4px 8px;-webkit-border-radius: 5px;border-radius: 5px;}

body.page-checkout .customer_profile_billing .fieldset-wrapper textarea {height: 30px;resize: none;}
body.page-checkout .customer_profile_billing .fieldset-wrapper textarea:focus {height: auto;}



body.page-checkout .messages.error {
  float: none;
}

body.page-checkout .customer_profile_billing {
  float: none;
}
*/



//  страница успешного заказа . ( довели заказ до финала оформения 
body.page-checkout-complete{
	h1, .breadcrumb {display: none;}
	// сообщение .. 
	#block-system-main .checkout-completion-message {text-align: center;padding: 100px 0;border:2px dashed $colorrosoviy;padding:0.5em;margin-top:0.5em;
		h2 {color: #19D873;margin: 0 0 40px;position: relative;vertical-align: middle;
			&::before {content:'';display:inline-block;width:2em;height:2em;background:url(../i/complete.png) 0 0 no-repeat;background-size: cover;vertical-align: middle;margin-right: 0.5em;}
		}
		span.text {font-size:1.5em;
			.number {color:$colorrosoviy;font-weight:bold;}
		}
	}	
}


.fancybox-wrap.form-in-popup, .fancybox-wrap.node-webform{width: auto!important;}

 /*.fancybox-wrap.commerce-add-to-cart-confirmation {width: 60%!important;}*/
 /*.fancybox-close {background:url(i/fancy-close.png) 50% 50% no-repeat;width: 23px;height: 23px;top:15px;right: 15px;}*/
.fancybox-close {background:url(../i/fancy-krest.png) 50% 50% no-repeat;background-size: contain; width: 23px;height: 23px;top:15px;right: 15px;}

.fancybox-skin {background: white;}



@media screen and (max-width:1024px){
  /*.fancybox-wrap,.fancybox-wrap.form-in-popup, .fancybox-wrap.node-webform {width:100%!important;left: 0!important;}*/
  .fancybox-wrap.form-in-popup {text-align: center;}
  .fancybox-wrap.form-in-popup .fancybox-inner {width: auto!important;display: inline-block;text-align: left;}
  /*.fancybox-wrap.form-QuickZakaz {width: auto!important;left:auto!important;}*/
}

/* адаптиция fancybox  */
@media screen and (max-width:769px){
	
	.fancybox-overlay .fancybox-wrap{width: 100%!important;;left:0!important;}
	.fancybox-inner {width: 100%!important;}
}
//




// куча картинок с переносом на новую строку ...
ul.imagesdecr-list{
	padding: 0!important;margin:0;text-align:center;
	li {display:inline-block ;width: 15em;padding: 0.5em;box-sizing: border-box;
		img {max-width: 100%;height: auto;}
	}

}


// Кредитование покупателей .. странца ..
.page-node-2168 #block-system-main {
	.bank-mogno {border:1px solid #dcdcdc;padding:0.5em;display: table;

		& > * {display: table-cell; vertical-align: middle;font-weight: bold;font-size: 1.29em;}
		@media screen and (max-width: 600px) {
			display: block;
			& > * {display: block;}
			& img {margin: 0 auto 1em;}
		}
		img {padding-right: 2.5em;}
		//&::after {content:'';display: block;clear: both;}
	}
	h2 {color:$colortemnokrasniy;}
	ul.uslovia-of-kredit {padding-left:0;
		li {list-style: none outside none;font-size: 1.29em;
			&::before {content:'';display: inline-block;width: 2.33em;height: 2.33em;vertical-align: middle;background: url(../i/kp/from300.png) 50% 50% no-repeat;background-size: contain;margin-right: 1em;}
			&.pasport::before {background-image: url(../i/kp/passphone.png);}
			&.stavka::before {background-image: url(../i/kp/16-percents.png);}
			&.gr-rf::before {background-image: url(../i/kp/gr-rf.png);}
			&.min-15::before {background-image: url(../i/kp/15min.png);}
			&.point-300::before {background-image: url(../i/kp/300-points.png);}
		}
	}
	.genegal-uslovia { color:#2c2c2c;
		.row {margin:0.5em 0;border:1px solid #f0f0f0;padding:0.5em;position:relative;
			@media screen and (max-width: 768px) {
				padding-left:2.5em;
			}
			&:nth-child(2n+1) {background:#f0f0f0;}
			& > div {float:left;
				&.num {width:2em; font-weight: bold;color:$colorrosoviy;
					@media screen and (max-width: 768px) {position: absolute;top:0.5em;left: 0.5em;}
				}
				&.key {padding: 0 1em 0 0;box-sizing: content-box;}
				&.sepor {float: none;clear: both;margin: 0.5em 0;}

				&.key,&.value {width: 47%;
					@media screen and (max-width: 768px) {
						width: 100%;
						//padding:0 0 0 2em;
					}
				}
				@media screen and (max-width: 768px) {
					&.key {margin-bottom: 0.5em;border-bottom: 1px dashed #c0c0c0; padding-bottom: 0.5em;padding-right: 0;}

				}
			}
			&:nth-child(2n+1) .key {
				border-bottom-color:$colorrosoviy;
			}
		}
	}
}


// блок с иконками в сайтбаре .. .
.block-mit-logo {
	.content .sepor {height: 1px;background:#d6d6d4;margin:1em 0;}
}
