@import 'footer';
@import 'search';

.not-front #main_content > .row {margin:0;}
.page-articles, .page-news {
	 #main_content > .row {margin:0 -10px;}
	 #page_title_wrap, .breadcrumb {padding-left:10px;padding-right:10px;}
}