@import 'footer';
@import 'search';
@import 'buttons';

.not-front #main_content > .row {margin:0;}
.page-articles, .page-news {
	 #main_content > .row {margin:0 -10px;}
	 #page_title_wrap, .breadcrumb {padding-left:10px;padding-right:10px;}
}

#admin-menu ul li a.rosoviy-text {@extend .rosoviy-bg;} 

// вывод отзывов ..  о компании  (из данных формы )
.otsiv-item {border-top:1px dashed $colorrosoviy;padding:0.5em 0;
	&.unpublic {background-color:rgba(255,0,0,0.1);}
	&.public {background-color:rgba(0,255,0,0.1);}

	&:first-child {border:none;}
	.date{@extend .rosoviy-text;font-weight:bold;}
	.form-item {margin:0;line-height:1em;}
} 


// Переключатель числа записей на страницу 
.per-page-sizer {padding:0;text-align:center;
	li {display:inline-block;margin:0.5em;
		a.current {@extend .rosoviy-text;font-weight:bold;}
	}
}


//  страница успешного заказа . ( довели заказ до финала оформения 
body.page-checkout-complete{
	h1, .breadcrumb {display: none;}
	// сообщение .. 
	#block-system-main .checkout-completion-message {text-align: center;padding: 100px 0;border:2px dashed $colorrosoviy;padding:0.5em;margin-top:0.5em;
		h2 {color: #19D873;margin: 0 0 40px;position: relative;vertical-align: middle;
			&::before {content:'';display:inline-block;width:2em;height:2em;background:url(../i/complete.png) 0 0 no-repeat;background-size: cover;vertical-align: middle;margin-right: 0.5em;}
		}
		span.text {font-size:1.5em;
			.number {color:$colorrosoviy;font-weight:bold;}
		}
	}	
}


// блок внимиание ..  
.warn-block {border:1px solid #b32121; padding: 0.2em 0.5em  ;color:#b32121;font-size: 1.2em;margin:1em 0;color:black;
	&::before {content:''; float:left;height:1.2em;width:1.2em;background:url(../i/kr-snakjpg3.jpg) 0 0 no-repeat;background-size:contain;  margin-right:0.5em;} 
}
.view-confirm-message-product-display .warn-block {font-size:0.9em;text-align: left;padding-left: 0.5em;margin:0;background: none;
	&::before {display:none;}
}

///  отпускаем высоту у свернутого fieldseta 
html.js fieldset.collapsed {height:auto;}


//блок Важная информация . на доставке 
.warn-block-2 {
	border:0.23em solid #d52c2c; padding: 0.2em 0.5em 0.5em 0;color:#b32121;font-size: 1.5em;margin:1em 0;min-height: 8em;position:relative;
	&::before {width:4em;height:8em;background: url(../i/kr-snakjpg3.jpg) 50% 50% no-repeat;background-size:contain;display:block;content:'';position:absolute;top:0;left:1px;}
	.titl {font-size: 1.14em;margin-left:3em;}
	ul {margin:0 0 0 3em;padding:0 0 0 2.5em!important;
		li {font-size: 0.8em;
			span {color:black;}
		} 
	}
	
}

// слайдер объявлений .. на главной 
.slider-discont-main,.ad-main {
	.content {background:#FFF;padding:8px;border:1px solid #ccc;float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:10px 0;}

}

.ad-main {
	.slick-prev {left:25px;
		&::before {content:'<';font-family:arial;}

	}
	.slick-next {right:25px;
		&::before {content:'>';font-family:arial;}
	}
	.slick-arrow {z-index:5;border-radius:50%;overflow:hidden;background:#514F50;width:2em;height:2em;font-size:1em;display:none!important;
		&::before {font-size:2em;display:block;}
	}
	&:hover .slick-arrow {display:block!important;}
}
.node-ad-for-main.node-teaser {position: relative;
	.grad-bg {height: 312px;display: block;}
	.field-name-body  {position:absolute;left:0;top:50%;} 
}

// слайдер акций 
.slider-discont-main .content {
	.slider-main-big {margin:0 -24px;}
	.akcion-big-el {padding:0 24px;
		h2 {color:#B32121;font-size:30px;line-height:17px;margin-bottom:0;
			span {display:block;
				& + span{font-size:18px;margin: 7px 0 0 0;}
			}
		}
		div.body {color:#555; height:3em; overflow:hidden;}
		.price_discount_wrap{float:left;width:100%;}
		.price_buy_button {
			.discount_price{float:left;background:#AD31AE;color:#fff;font-size:20px;padding:2px 14px 3px 25px;border-radius:4px;margin:0 10px 0  -24px;position:relative;
				&::before {background:#444;width:6px;height:20px;float:left;left:0;top:-4px;z-index:-1;content:"";position:absolute;-webkit-border-radius:6px 0 0 0;border-radius:6px 0 0 0;}
			}
			.discount_price span {text-transform: lowercase;}
			a.buy_prod_button{float:left;background:#b32121 url(/sites/all/themes/mk/i/icon_cart_product.png) 10px 5px no-repeat;margin:12px 0 0 -24px;border:0 none;-webkit-border-radius:4px;border-radius:4px;color:#FFF;font-size:12px;text-transform:uppercase;padding:8px 10px 8px 39px;outline:none;position:relative;
				&::before {background:#444;width:6px;height:20px;float:left;left:0;top:-4px;z-index:-1;content:"";position:absolute;-webkit-border-radius:6px 0 0 0;border-radius:6px 0 0 0;}
			}

		}
		.old_price{float: left; width: 60%; text-align: center; color: #010101; font-size: 14px; margin: -28px 40% 0 94px;
			span {position:relative;text-transform: lowercase;
				.crossed:after{content:"";position:absolute;top:50%;left:0;width:100%;height:1px;background:red;}
			}
		}

	}
	.akcion-small-el{cursor:pointer;
		.pic{padding-left:0;padding-right:0;
			img {border:1px solid #FFFFFF;padding:0;}
		}
		.info {
			.price{color:#B32121;font-size:12px;}
			.old_price{font-size:10px;color:#020202;text-decoration:line-through;}
		}

	}
	.slider-main-small {background: #F5F5F5;padding: 5px 35px;
		.slick-prev{left:12px;opacity:1!important;top:50%;z-index: 20;}
		.slick-next{right:12px;opacity:1!important;top:50%;z-index: 20;}
	}
	.slick-arrow::before  {color:black;}



}
 

// слайдер объявление 
.not-front #block-mkmod-ad-block {padding:0;}



// иконки соцсетей 
.rekv-token .whatsap-ico {display:inline-block;width:1.5em;height:1.5em;background:url(../i/icon_whatsapp.png) 0 0 no-repeat;background-size:contain;vertical-align:middle}
/*
.limits{display:none;}
#block-views-main-slider-main-slider-focus{float:left;width:100%;}
#block-views-dfc135f0d7bdb4e809e16fa5b77d4dbf{float:left;width:100%;}
.slider-discont-main .slider-main-small {}
*/