.region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
  margin: 0 auto; }
  @media screen and (min-width:1024px) {
    .region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
      max-width: 1200px; } }

footer {
  background: #2C2C2C;
  color: #FFF;
  padding: 15px 0 0;
  border-top: 1px solid #242424; }
  footer .footer-blocks-wrap {
    padding-bottom: 2.5em; }
    @media screen and (max-width:1279px) {
      footer .footer-blocks-wrap {
        padding: 0 0.5em; } }
    footer .footer-blocks-wrap::after {
      content: '';
      clear: both;
      display: block; }
  footer p {
    margin: 0; }
  footer .menus-area {
    width: 70%; }
    @media screen and (max-width:767px) {
      footer .menus-area {
        width: 100%; } }
    footer .menus-area .content > ul {
      text-align: left; }
      footer .menus-area .content > ul > li {
        margin: 0;
        display: inline-block;
        width: 30%;
        vertical-align: top; }
        @media screen and (max-width:767px) {
          footer .menus-area .content > ul > li {
            width: 100%;
            display: block;
            text-align: center;
            position: relative; }
            footer .menus-area .content > ul > li > span::after {
              content: '';
              width: 1em;
              height: 1em;
              display: inline-block;
              background: url("../i/icon_main_menu.png") 50% 50%;
              background-size: contain;
              margin-left: 0.5em;
              vertical-align: middle;
              padding: 0.1em; }
            footer .menus-area .content > ul > li ul {
              width: 100%;
              background: #333333;
              overflow: hidden;
              display: none; }
            footer .menus-area .content > ul > li.vis ul {
              border: 1px solid #d254c9;
              display: block; }
            footer .menus-area .content > ul > li.vis > span::after {
              background-color: #d254c9; } }
    footer .menus-area .content ul {
      padding: 0; }
      footer .menus-area .content ul ul {
        margin: 0;
        padding: 0; }
        footer .menus-area .content ul ul li {
          list-style: none outside none;
          margin: 0;
          padding: 0; }
      footer .menus-area .content ul li a {
        color: #9f9f9f;
        text-decoration: none; }
      footer .menus-area .content ul li span.menu-head {
        font-weight: 800; }
  footer .main-meu-footer .content ul {
    width: 100%;
    display: table !important;
    margin: 0;
    table-layout: fixed;
    padding: 0  0 15px;
    border-bottom: 1px solid #333; }
    footer .main-meu-footer .content ul li {
      display: table-cell;
      width: auto;
      text-align: center;
      float: none; }
      footer .main-meu-footer .content ul li a {
        color: #A7A7A7;
        font-size: 16px; }
      footer .main-meu-footer .content ul li.active-trail a {
        text-decoration: underline; }
  footer .corp-data-copyr {
    background: #333333; }
    footer .corp-data-copyr .corp-data-copyr-wrap {
      width: 100%;
      display: table; }
      footer .corp-data-copyr .corp-data-copyr-wrap > div {
        display: table-cell;
        line-height: 2em;
        padding: 0 10px; }
      footer .corp-data-copyr .corp-data-copyr-wrap .figures {
        text-align: center; }
      footer .corp-data-copyr .corp-data-copyr-wrap .copyright {
        text-align: right; }
        @media screen and (max-width:349px) {
          footer .corp-data-copyr .corp-data-copyr-wrap .copyright span {
            display: block; } }
      @media screen and (max-width: 767px) {
        footer .corp-data-copyr .corp-data-copyr-wrap > div {
          display: block;
          text-align: center!important; } }
  footer .footer-search {
    float: right;
    width: 30%; }
    footer .footer-search span.key {
      background: #404040;
      border-radius: 0.5em;
      padding: 0 0.5em; }
    @media screen and (max-width:767px) {
      footer .footer-search {
        float: none;
        width: auto;
        display: block;
        padding: 0 0.5em; } }
    footer .footer-search .content {
      color: #9f9f9f; }
      footer .footer-search .content #ya-site-form1 {
        padding-bottom: 1em!important; }
        footer .footer-search .content #ya-site-form1 .ya-site-form__search-input {
          padding: 0!important; }
        footer .footer-search .content #ya-site-form1 .ya-site-form__search-input-layout-r {
          display: none; }
        footer .footer-search .content #ya-site-form1 input[type=search] {
          padding: 0.5em 2em 0.5em 0.5em;
          background: transparent!important;
          border: 1px solid #505050; }
        footer .footer-search .content #ya-site-form1 .ya-site-form__input {
          position: relative; }
          footer .footer-search .content #ya-site-form1 .ya-site-form__input::after {
            content: "";
            position: absolute;
            background: url(../i/icon_search_in_input.png) 0 0 no-repeat;
            right: 6px;
            top: 8px;
            width: 18px;
            height: 17px; }

/*
  footer .bottom .menus-area {float:left;}
  footer .bottom .menus-area .content > ul {text-align: left;}
  footer .bottom .menus-area .content  ul ul {margin:0;padding: 0;}
  footer .bottom .menus-area .content  ul ul li {list-style: none outside none;margin:0;padding:0;}
  footer .bottom .menus-area .content  ul li a {color:#9f9f9f;}

  footer .bottom .content >  ul.menu > li {display: inline-block;}
  footer .bottom .content ul.menu li a {color:white;text-decoration:none;}
  footer .bottom .block-menu .content ul {padding: 15px 0; border-bottom:1px solid #333;}
  
  footer .bottom .main-meu-footer .content ul{width:100%;display:table !important;margin:0;table-layout:fixed;padding:0  0 15px;border-bottom:1px solid #333;}
  footer .bottom .main-meu-footer .content ul li{display:table-cell;width:auto;text-align:center;float:none;}
  footer .bottom .main-meu-footer .content ul li a{color:#A7A7A7;font-size:16px;}
  footer .bottom .main-meu-footer .content ul li.active-trail a{text-decoration: underline;}


	
*/
