@charset "UTF-8";
.cls {
  clear: both; }

.rosoviy-text, .otsiv-item .date, .per-page-sizer li a.current {
  color: #d254c9; }

.rosoviy-bg, #admin-menu ul li a.rosoviy-text, #admin-menu ul li .otsiv-item a.date, .otsiv-item #admin-menu ul li a.date, #admin-menu ul .per-page-sizer li a.current, .per-page-sizer #admin-menu ul li a.current {
  background: #d254c9; }

.region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
  margin: 0 auto; }
  @media screen and (min-width:1024px) {
    .region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
      max-width: 1200px; } }

footer {
  background: #2C2C2C;
  color: #FFF;
  padding: 15px 0 0;
  border-top: 1px solid #242424; }
  footer .footer-blocks-wrap {
    padding: 0 0.7em 2.5em; }
    footer .footer-blocks-wrap::after {
      content: '';
      clear: both;
      display: block; }
  footer p {
    margin: 0; }
  footer .menus-area {
    width: 70%; }
    @media screen and (max-width:767px) {
      footer .menus-area {
        width: 100%; } }
    footer .menus-area .content > ul {
      text-align: left; }
      footer .menus-area .content > ul > li {
        margin: 0;
        display: inline-block;
        width: 30%;
        vertical-align: top; }
        @media screen and (max-width:767px) {
          footer .menus-area .content > ul > li {
            width: 100%;
            display: block;
            text-align: center;
            position: relative; }
            footer .menus-area .content > ul > li > span::after {
              content: '';
              width: 1em;
              height: 1em;
              display: inline-block;
              background: url("../i/icon_main_menu.png") 50% 50%;
              background-size: contain;
              margin-left: 0.5em;
              vertical-align: middle;
              padding: 0.1em; }
            footer .menus-area .content > ul > li ul {
              width: 100%;
              background: #333333;
              overflow: hidden;
              display: none; }
            footer .menus-area .content > ul > li.vis ul {
              border: 1px solid #d254c9;
              display: block; }
            footer .menus-area .content > ul > li.vis > span::after {
              background-color: #d254c9; } }
    footer .menus-area .content ul {
      padding: 0; }
      footer .menus-area .content ul ul {
        margin: 0;
        padding: 0; }
        footer .menus-area .content ul ul li {
          list-style: none outside none;
          margin: 0;
          padding: 0; }
      footer .menus-area .content ul li a {
        color: #9f9f9f;
        text-decoration: none; }
      footer .menus-area .content ul li span.menu-head {
        font-weight: 800; }
  footer .main-meu-footer .content ul {
    width: 100%;
    display: table !important;
    margin: 0;
    table-layout: fixed;
    padding: 0  0 15px;
    border-bottom: 1px solid #333; }
    footer .main-meu-footer .content ul li {
      display: table-cell;
      width: auto;
      text-align: center;
      float: none; }
      footer .main-meu-footer .content ul li a {
        color: #A7A7A7;
        font-size: 16px; }
      footer .main-meu-footer .content ul li.active-trail a {
        text-decoration: underline; }
  footer .corp-data-copyr {
    background: #333333; }
    footer .corp-data-copyr .corp-data-copyr-wrap {
      width: 100%;
      display: table; }
      footer .corp-data-copyr .corp-data-copyr-wrap:first-child {
        border-bottom: 1px solid #d254c9; }
      footer .corp-data-copyr .corp-data-copyr-wrap > div {
        display: table-cell;
        line-height: 2em;
        padding: 0 10px; }
      footer .corp-data-copyr .corp-data-copyr-wrap .figures {
        text-align: center; }
      footer .corp-data-copyr .corp-data-copyr-wrap .copyright {
        text-align: right; }
        @media screen and (max-width:349px) {
          footer .corp-data-copyr .corp-data-copyr-wrap .copyright span {
            display: block; } }
      @media screen and (max-width: 767px) {
        footer .corp-data-copyr .corp-data-copyr-wrap > div {
          display: block;
          text-align: center!important; } }
  footer .block-search, footer .footer-textovka {
    float: right;
    width: 30%;
    clear: both; }
  @media screen and (max-width:767px) {
    footer .footer-textovka {
      float: none;
      width: auto;
      display: block;
      padding: 0 0.5em; } }
  footer .footer-textovka span.key {
    background: #404040;
    border-radius: 0.5em;
    padding: 0 0.5em; }
  footer .footer-textovka .content {
    color: #9f9f9f; }

.cls {
  clear: both; }

.rosoviy-text, .otsiv-item .date, .per-page-sizer li a.current {
  color: #d254c9; }

.rosoviy-bg, #admin-menu ul li a.rosoviy-text, #admin-menu ul li .otsiv-item a.date, .otsiv-item #admin-menu ul li a.date, #admin-menu ul .per-page-sizer li a.current, .per-page-sizer #admin-menu ul li a.current {
  background: #d254c9; }

.region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
  margin: 0 auto; }
  @media screen and (min-width:1024px) {
    .region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
      max-width: 1200px; } }

.autocompleter-tail, .site-search form .form-item-keys input.form-text + .autocompleter, .search-form-menu .form-text + .autocompleter, .block-search form input.form-text + .autocompleter, footer .block-search form input.form-text + .autocompleter, .error404 .search form input.form-text + .autocompleter {
  background: white;
  z-index: 5;
  padding: 0.3em;
  border: 1px solid #d254c9;
  display: none;
  width: auto;
  min-width: 100%;
  height: auto; }
  .autocompleter-tail.autocompleter-show, .site-search form .form-item-keys input.form-text + .autocompleter-show.autocompleter, .search-form-menu .form-text + .autocompleter-show.autocompleter, .block-search form input.form-text + .autocompleter-show.autocompleter, footer .block-search form input.form-text + .autocompleter-show.autocompleter, .error404 .search form input.form-text + .autocompleter-show.autocompleter {
    display: block; }
  .autocompleter-tail ul, .site-search form .form-item-keys input.form-text + .autocompleter ul, .search-form-menu .form-text + .autocompleter ul, .block-search form input.form-text + .autocompleter ul, footer .block-search form input.form-text + .autocompleter ul, .error404 .search form input.form-text + .autocompleter ul {
    padding: 0;
    position: static!important;
    color: black;
    background: white!important;
    display: block!important;
    margin: 0!important; }
    .autocompleter-tail ul li, .site-search form .form-item-keys input.form-text + .autocompleter ul li, .search-form-menu .form-text + .autocompleter ul li, .block-search form input.form-text + .autocompleter ul li, footer .block-search form input.form-text + .autocompleter ul li, .error404 .search form input.form-text + .autocompleter ul li {
      white-space: nowrap; }

.site-search {
  padding: 8px;
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: url("../i/bg_search_desktop.png") 1px -1px no-repeat;
  width: 879px;
  height: 41px;
  z-index: 200; }
  @media screen and (max-width: 1023px) {
    .site-search {
      display: none; } }
  .site-search a.close_it {
    float: right;
    position: absolute;
    top: 1px;
    right: 0;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    padding: 9px 4px 10px 5px;
    text-shadow: 1px 1px 1px #FFDAFF; }
    .site-search a.close_it span {
      font-size: 15px;
      width: 100%;
      float: left; }
  .site-search > h2 {
    float: left;
    margin: 0;
    padding: 0 20px;
    color: #050505;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff; }
  .site-search form .form-item-keys {
    position: relative;
    margin: 0; }
    .site-search form .form-item-keys::before {
      content: "";
      position: absolute;
      background: url("../i/icon_search_in_input.png") 0 0 no-repeat;
      left: 6px;
      top: 4px;
      width: 18px;
      height: 17px; }
    .site-search form .form-item-keys input.form-text {
      background-color: #FFF;
      display: block;
      border: 1px solid #7E1D7A !important;
      width: 412px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding: 3px 7px 3px 30px;
      -webkit-box-shadow: inset 0 0 3px 1px #BDBDBD;
      box-shadow: inset 0 0 3px 1px #BDBDBD; }
  .site-search form .form-submit {
    vertical-align: top;
    text-shadow: 1px 1px 0px #000;
    background: #595858;
    border: #333;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFF !important;
    font-size: 14px !important;
    outline: 0 none;
    padding: 3px 9px;
    margin: 0;
    text-transform: uppercase; }

.search-form-menu {
  width: 0;
  overflow: hidden;
  display: none;
  height: 1.7em;
  padding: 0.3em 0;
  position: relative;
  float: left;
  transition: all 2s linear 0s;
  position: relative; }
  @media screen and (max-width:1023px) {
    .search-form-menu {
      display: block; } }
  .search-form-menu form {
    margin: 0;
    height: 100%; }
  .search-form-menu.vis {
    width: 14.5em;
    overflow: inherit; }
  .search-form-menu .form-item-keys {
    padding-right: 2em; }
  .search-form-menu .form-item {
    margin: 0; }
  .search-form-menu div {
    height: 100%;
    display: inline-block; }
  .search-form-menu .form-text {
    height: 100%;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 0 0.2em;
    display: block; }
    .search-form-menu .form-text + .autocompleter ul li {
      white-space: normal;
      border: none!important; }
  .search-form-menu .form-submit {
    position: absolute;
    top: 0.5em;
    right: 0.7em;
    width: 1em;
    height: 1em;
    color: transparent;
    overflow: hidden;
    background: url("../i/icon_search.png") 50% 50% no-repeat;
    background-size: contain;
    border: none; }

/*body.page-node-74 #block-search-form {bottom: inherit;top: 0;}*/
/* START SEARCH PAGE */
body.page-search #block-system-main {
  padding: 0 10px; }
  body.page-search #block-system-main .search-results {
    float: left;
    width: 100%;
    border-bottom: 1px solid #DDD8D8;
    padding: 0 0 0 20px; }
  body.page-search #block-system-main form.search-form {
    float: left;
    margin: 0;
    position: relative;
    width: 100%; }
    body.page-search #block-system-main form.search-form div {
      display: inline-block;
      width: 100%; }
    body.page-search #block-system-main form.search-form .form-text {
      width: 100%;
      padding: 5px 8px;
      border: 1px solid #d254c9;
      background: none;
      font-size: 16px;
      display: block; }
      body.page-search #block-system-main form.search-form .form-text:focus {
        outline: none;
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        border-bottom: 1px solid #B626BC; }
      body.page-search #block-system-main form.search-form .form-text + .autocompleter {
        background: white;
        z-index: 5;
        padding: 0.3em;
        border: 1px solid #d254c9;
        display: none; }
        body.page-search #block-system-main form.search-form .form-text + .autocompleter.autocompleter-show {
          display: block; }
        body.page-search #block-system-main form.search-form .form-text + .autocompleter ul {
          padding: 0; }
    body.page-search #block-system-main form.search-form .form-submit {
      position: absolute;
      top: 0;
      right: 0;
      border: 0 none;
      background: url("../i/icon_search_in_input.png") center center no-repeat;
      padding: 0 0 0 0;
      text-indent: -999999px;
      width: 30px;
      height: 30px;
      margin: 1.1em 0 0; }

.block-search form input.form-text {
  display: block; }

footer .block-search {
  float: right;
  clear: both; }
  footer .block-search div.contextual-links-wrapper {
    right: -25px; }
  footer .block-search form {
    position: relative; }
    footer .block-search form input.form-text {
      padding: 0.5em 2em 0.5em 0.5em;
      background: transparent!important;
      border: 1px solid #505050;
      display: block;
      width: 100%; }
    footer .block-search form .form-item {
      width: 100%;
      margin: 0; }
    footer .block-search form .form-submit {
      position: absolute;
      background: url(../i/icon_search_in_input.png) 0 0 no-repeat;
      right: 6px;
      top: 0.8em;
      width: 18px;
      height: 17px;
      border: none;
      color: transparent; }

.error404 .search {
  text-align: center;
  margin: 20px 0; }
  .error404 .search form {
    position: relative;
    clear: both; }
    .error404 .search form div {
      display: block; }
    .error404 .search form input.form-text {
      display: block;
      width: 100%;
      border: 1px solid #D8D8D8;
      outline: none;
      font-size: 14px;
      padding: 4px;
      -webkit-box-shadow: inset 0 0 15px 0 #E2E2E2;
      box-shadow: inset 0 0 15px 0 #E2E2E2;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      .error404 .search form input.form-text:focus {
        border: 1px solid #666;
        -webkit-box-shadow: inset 0 0 15px 0 #FFFFFF;
        box-shadow: inset 0 0 15px 0 #FFFFFF; }
    .error404 .search form .form-submit {
      position: absolute;
      background: url(../i/icon_search_in_input.png) 0 0 no-repeat;
      right: 6px;
      top: 0.5em;
      width: 18px;
      height: 17px;
      border: none;
      color: transparent; }

body.page-search #block-system-main .item-list {
  float: left;
  width: 100%; }
  body.page-search #block-system-main .item-list .pager {
    margin: 0;
    padding: 0; }
    body.page-search #block-system-main .item-list .pager li {
      display: inline-block;
      color: #000;
      margin: 0 4px; }
      body.page-search #block-system-main .item-list .pager li a {
        color: #000;
        font-size: 16px; }
      body.page-search #block-system-main .item-list .pager li.pager-current {
        color: #CE37BF;
        font-size: 18px; }
      body.page-search #block-system-main .item-list .pager li.pager-ellipsis {
        display: none; }

.cls {
  clear: both; }

.rosoviy-text, .otsiv-item .date, .per-page-sizer li a.current {
  color: #d254c9; }

.rosoviy-bg, #admin-menu ul li a.rosoviy-text, #admin-menu ul li .otsiv-item a.date, .otsiv-item #admin-menu ul li a.date, #admin-menu ul .per-page-sizer li a.current, .per-page-sizer #admin-menu ul li a.current {
  background: #d254c9; }

.region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
  margin: 0 auto; }
  @media screen and (min-width:1024px) {
    .region-wrap, footer .footer-blocks-wrap, footer .corp-data-copyr .corp-data-copyr-wrap {
      max-width: 1200px; } }

.simple-button:hover, .accept-button:hover, .danger-button:hover, body.page-checkout .checkout-buttons .checkout-continue:hover, .page-cart #block-system-main .commerce-line-item-actions input:hover, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart:hover, .cancel-button:hover, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close:hover, body.page-checkout .checkout-buttons .checkout-cancel:hover {
  text-decoration: none; }
@media screen and (max-width:480px) {
  .simple-button, .accept-button, .danger-button, body.page-checkout .checkout-buttons .checkout-continue, .page-cart #block-system-main .commerce-line-item-actions input, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart, .cancel-button, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close, body.page-checkout .checkout-buttons .checkout-cancel {
    width: 100%;
    float: none;
    margin-bottom: 0.2em; } }

.accept-button, .danger-button, body.page-checkout .checkout-buttons .checkout-continue, .page-cart #block-system-main .commerce-line-item-actions input, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart, .cancel-button, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close, body.page-checkout .checkout-buttons .checkout-cancel {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  padding: 4px 14px;
  font-size: 1em;
  text-align: center; }

.accept-button, .danger-button, body.page-checkout .checkout-buttons .checkout-continue, .page-cart #block-system-main .commerce-line-item-actions input, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart {
  background: #21b321;
  color: white;
  border: 1px solid #21b321; }
  .accept-button:hover, .danger-button:hover, body.page-checkout .checkout-buttons .checkout-continue:hover, .page-cart #block-system-main .commerce-line-item-actions input:hover, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart:hover {
    background: #1b9a1b;
    border-color: #1b9a1b; }

.cancel-button, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close, body.page-checkout .checkout-buttons .checkout-cancel {
  background: #f8f4f0;
  color: #018fe2;
  border: 1px solid #018fe2; }
  .cancel-button:hover, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close:hover, body.page-checkout .checkout-buttons .checkout-cancel:hover {
    background: #ececec;
    border-color: #018fe2; }

.danger-button {
  background: #b32121;
  border-color: #b32121; }
  .danger-button:hover {
    background: #a01D1D;
    border-color: #a01D1D; }

div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .text .checkout-action {
  color: #21b321; }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .text .continue-action {
  color: #018fe2; }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons {
  margin: 20px 0; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons::after {
    display: block;
    clear: both;
    content: ''; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .commerce-add-to-cart-confirmation-close {
    position: static;
    width: 12em;
    height: auto;
    float: left; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons .to_cart {
    float: right;
    width: 12em; }
  @media screen and (max-width:479px) {
    div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons {
      margin: 10px 0; }
      div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons a.to_cart, div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .buttons a.commerce-add-to-cart-confirmation-close {
        float: none;
        display: block;
        margin: 15px auto; } }

.container_wrap .sidebar #block-menu-menu-catalog-menu {
  margin-top: -1px; }
  .container_wrap .sidebar #block-menu-menu-catalog-menu .content {
    float: left;
    width: 100%;
    padding: 0 5px 0 0;
    box-sizing: border-box; }
    .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li {
      padding: 0; }
      .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li a {
        font-size: 14px;
        color: #2C2C2C;
        padding: 3px 0 4px 10%;
        position: relative;
        display: block;
        padding: 3px 0 4px 10%;
        border-bottom: 1px solid #DAD8D9;
        border-top: 1px solid #FFFFFF; }
        .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li a::before {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          background: #D93DC4;
          -webkit-border-radius: 50px;
          border-radius: 50px;
          position: absolute;
          left: 2px;
          margin: -5px 0 0 8px;
          top: 50%; }
      .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li.collapsed > a::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 8px solid #D93DC4;
        border-bottom: 6px solid transparent;
        position: absolute;
        left: 4px;
        margin: -7px 0 0 8px;
        top: 50%;
        border-radius: 0;
        background: none; }
      .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li.expanded > a {
        position: relative; }
        .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li.expanded > a::before {
          content: "";
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-left: 8px solid #D93DC4;
          border-bottom: 6px solid transparent;
          position: absolute;
          left: 2px;
          margin: -5px 0 0 8px;
          top: 50%;
          border-radius: 0;
          background: none; }
      .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li.expanded.active-trail > a::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-top: 8px solid #D93DC4;
        border-right: 6px solid transparent;
        position: absolute;
        left: 2px;
        margin: -4px 0 0 8px;
        top: 50%;
        border-radius: 0;
        background: none; }
      .container_wrap .sidebar #block-menu-menu-catalog-menu .content ul li.active-trail > a {
        background: #daa6ff;
        background: -moz-linear-gradient(top, #daa6ff 0%, #f1deff 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #daa6ff), color-stop(100%, #f1deff));
        background: -webkit-linear-gradient(top, #daa6ff 0%, #f1deff 100%);
        background: -o-linear-gradient(top, #daa6ff 0%, #f1deff 100%);
        background: -ms-linear-gradient(top, #daa6ff 0%, #f1deff 100%);
        background: linear-gradient(to bottom, #daa6ff 0%, #f1deff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#daa6ff', endColorstr='#f1deff', GradientType=0 ); }

/*

.container_wrap .sidebar #block-menu-menu-catalog-menu {margin-top: -1px;}
	.container_wrap .sidebar #block-menu-menu-catalog-menu .content > ul.menu > li.expanded > ul{display:none;}
	.container_wrap .sidebar #block-menu-menu-catalog-menu .content > ul.menu > li.expanded.active-trail > ul{display:block;}
	
  .container_wrap .sidebar #block-menu-menu-catalog-menu .content > ul.menu ul {padding: 0;}
	

	#block-menu-menu-catalog-menu .content > ul.menu > li > a {position: relative;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;}
	#block-menu-menu-catalog-menu .content > ul.menu > li.active-trail > a{background: rgba(218,166,255,1);
	background: -moz-linear-gradient(top, rgba(218,166,255,1) 0%, rgba(241,222,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,166,255,1)), color-stop(100%, rgba(241,222,255,1)));
	background: -webkit-linear-gradient(top, rgba(218,166,255,1) 0%, rgba(241,222,255,1) 100%);
	background: -o-linear-gradient(top, rgba(218,166,255,1) 0%, rgba(241,222,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(218,166,255,1) 0%, rgba(241,222,255,1) 100%);
	background: linear-gradient(to bottom, rgba(218,166,255,1) 0%, rgba(241,222,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daa6ff', endColorstr='#f1deff', GradientType=0 );}

	#block-menu-menu-catalog-menu .content > ul.menu > li > a:hover {background: #FFF;}


	#block-menu-menu-catalog-menu .content ul.menu ul.menu li.active-trail > a{text-decoration:underline;color: #b32121;}
	#block-menu-menu-catalog-menu .content > ul > li > a{padding:3px 0 4px 10%;width:100%;float:left;border-bottom:1px solid #DAD8D9;border-top:1px solid #FFFFFF;}
	}
  #block-menu-menu-catalog-menu .content li.collapsed > a::before {content: "*"; width: 0; height: 0; border-top: 6px solid transparent; border-left: 8px solid #D93DC4; border-bottom: 6px solid transparent; position: absolute; left: 4px; margin: -7px 0 0 8px; top: 50%; }



	#block-menu-menu-catalog-menu .content li.expanded > ul.menu{float:left;width:100%;padding:0 0 0 20px;display: none;}
	#block-menu-menu-catalog-menu .content li.leaf > a{position:relative;}
	#block-menu-menu-catalog-menu .content > ul > li.leaf > a:before{}
	#block-menu-menu-catalog-menu .content li.leaf > a:before{content:"";display:none;width:9px;height:9px;background:#D93DC4;-webkit-border-radius:50px;border-radius:50px;position:absolute;left:2px;margin:-5px 0 0 8px;top:50%;}
	#block-menu-menu-catalog-menu .content li.leaf > ul.menu{float:left;width:100%;padding:0 0 0 20px;}
	

	.container_wrap .sidebar #block-menu-menu-catalog-menu .content .expanded.active-trail > ul{display:block;}



*/
.not-front #main_content > .row {
  margin: 0; }

.page-articles #main_content > .row, .page-news #main_content > .row {
  margin: 0 -10px; }
.page-articles #page_title_wrap, .page-articles .breadcrumb, .page-news #page_title_wrap, .page-news .breadcrumb {
  padding-left: 10px;
  padding-right: 10px; }

.otsiv-item {
  border-top: 1px dashed #d254c9;
  padding: 0.5em 0; }
  .otsiv-item.unpublic {
    background-color: rgba(255, 0, 0, 0.1); }
  .otsiv-item.public {
    background-color: rgba(0, 255, 0, 0.1); }
  .otsiv-item:first-child {
    border: none; }
  .otsiv-item .date {
    font-weight: bold; }
  .otsiv-item .form-item {
    margin: 0;
    line-height: 1em; }

.per-page-sizer {
  padding: 0;
  text-align: center; }
  .per-page-sizer li {
    display: inline-block;
    margin: 0.5em; }
    .per-page-sizer li a.current {
      font-weight: bold; }

.warn-block {
  border: 1px solid #b32121;
  padding: 0.2em 0.5em;
  color: #b32121;
  font-size: 1.2em;
  margin: 1em 0;
  color: black; }
  .warn-block::before {
    content: '';
    float: left;
    height: 1.2em;
    width: 1.2em;
    background: url(../i/kr-snakjpg3.jpg) 0 0 no-repeat;
    background-size: contain;
    margin-right: 0.5em; }

.view-confirm-message-product-display .warn-block {
  font-size: 0.9em;
  text-align: left;
  padding-left: 0.5em;
  margin: 0;
  background: none; }
  .view-confirm-message-product-display .warn-block::before {
    display: none; }

html.js fieldset.collapsed {
  height: auto; }

.warn-block-2 {
  border: 0.23em solid #d52c2c;
  padding: 0.2em 0.5em 0.5em 0;
  color: #b32121;
  font-size: 1.5em;
  margin: 1em 0;
  min-height: 8em;
  position: relative; }
  .warn-block-2::before {
    width: 4em;
    height: 8em;
    background: url(../i/kr-snakjpg3.jpg) 50% 50% no-repeat;
    background-size: contain;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 1px; }
  .warn-block-2 .titl {
    font-size: 1.14em;
    margin-left: 3em; }
  .warn-block-2 ul {
    margin: 0 0 0 3em;
    padding: 0 0 0 2.5em!important; }
    .warn-block-2 ul li {
      font-size: 0.8em; }
      .warn-block-2 ul li span {
        color: black; }

.slider-discont-main .content, .ad-main .content {
  background: #FFF;
  padding: 8px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0; }

.slick-slider-in-blocks-on-front .slick-arrow, .ad-main .slick-slider .slick-arrow, .slider-discont-main .content .slider-main-big .slick-arrow {
  z-index: 5;
  border-radius: 50%;
  overflow: hidden;
  width: 3em;
  height: 3em;
  font-size: 1em;
  display: none!important; }
  .slick-slider-in-blocks-on-front .slick-arrow::before, .ad-main .slick-slider .slick-arrow::before, .slider-discont-main .content .slider-main-big .slick-arrow::before {
    font-size: 3em;
    display: block;
    font-family: FontAwesome;
    color: #d254c9; }
.slick-slider-in-blocks-on-front .slick-prev, .ad-main .slick-slider .slick-prev, .slider-discont-main .content .slider-main-big .slick-prev {
  left: 25px; }
  .slick-slider-in-blocks-on-front .slick-prev::before, .ad-main .slick-slider .slick-prev::before, .slider-discont-main .content .slider-main-big .slick-prev::before {
    content: '\f137'; }
.slick-slider-in-blocks-on-front .slick-next, .ad-main .slick-slider .slick-next, .slider-discont-main .content .slider-main-big .slick-next {
  right: 25px; }
  .slick-slider-in-blocks-on-front .slick-next::before, .ad-main .slick-slider .slick-next::before, .slider-discont-main .content .slider-main-big .slick-next::before {
    content: '\f138'; }
.slick-slider-in-blocks-on-front:hover .slick-arrow, .ad-main .slick-slider:hover .slick-arrow, .slider-discont-main .content .slider-main-big:hover .slick-arrow {
  display: block!important; }

.ad-main .slick-slider .node-ad-for-main.node-teaser {
  position: relative;
  height: 312px;
  display: block; }
  .ad-main .slick-slider .node-ad-for-main.node-teaser::before {
    content: '';
    display: inline-block;
    height: 312px;
    width: 0;
    vertical-align: middle;
    position: relative;
    z-index: 6; }
  .ad-main .slick-slider .node-ad-for-main.node-teaser .grad-bg, .ad-main .slick-slider .node-ad-for-main.node-teaser .image-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0; }
  .ad-main .slick-slider .node-ad-for-main.node-teaser .image-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  .ad-main .slick-slider .node-ad-for-main.node-teaser .field-name-body {
    width: 98%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 6; }

.slider-discont-main .content .slider-main-big {
  margin: 0 -24px; }
  .slider-discont-main .content .slider-main-big .slick-arrow {
    top: 85%; }
.slider-discont-main .content .akcion-big-el {
  padding: 0 24px; }
  .slider-discont-main .content .akcion-big-el h2 {
    color: #B32121;
    font-size: 30px;
    line-height: 17px;
    margin-bottom: 0; }
    .slider-discont-main .content .akcion-big-el h2 span {
      display: block; }
      .slider-discont-main .content .akcion-big-el h2 span + span {
        font-size: 18px;
        margin: 7px 0 0 0; }
  .slider-discont-main .content .akcion-big-el div.body {
    color: #555;
    height: 3em;
    overflow: hidden; }
  .slider-discont-main .content .akcion-big-el .price_discount_wrap {
    float: left;
    width: 100%; }
  .slider-discont-main .content .akcion-big-el .price_buy_button .discount_price {
    float: left;
    background: #AD31AE;
    color: #fff;
    font-size: 20px;
    padding: 2px 14px 3px 25px;
    border-radius: 4px;
    margin: 0 10px 0 -24px;
    position: relative; }
    .slider-discont-main .content .akcion-big-el .price_buy_button .discount_price::before {
      background: #444;
      width: 6px;
      height: 20px;
      float: left;
      left: 0;
      top: -4px;
      z-index: -1;
      content: "";
      position: absolute;
      -webkit-border-radius: 6px 0 0 0;
      border-radius: 6px 0 0 0; }
  .slider-discont-main .content .akcion-big-el .price_buy_button .discount_price span {
    text-transform: lowercase; }
  .slider-discont-main .content .akcion-big-el .price_buy_button .buy_prod_button {
    position: relative;
    float: left;
    margin: 12px 0 0 -24px;
    z-index: 5; }
    .slider-discont-main .content .akcion-big-el .price_buy_button .buy_prod_button a {
      display: block;
      background: #b32121 url(/sites/all/themes/mk/i/icon_cart_product.png) 10px 5px no-repeat;
      border: 0 none;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      color: #FFF;
      font-size: 12px;
      text-transform: uppercase;
      padding: 8px 10px 8px 39px;
      outline: none;
      position: relative; }
    .slider-discont-main .content .akcion-big-el .price_buy_button .buy_prod_button::before {
      background: #444;
      width: 6px;
      height: 20px;
      float: left;
      left: 0;
      top: -4px;
      z-index: -1;
      content: "";
      position: absolute;
      -webkit-border-radius: 6px 0 0 0;
      border-radius: 6px 0 0 0; }
  .slider-discont-main .content .akcion-big-el .old_price {
    float: left;
    width: 60%;
    text-align: center;
    color: #010101;
    font-size: 14px;
    margin: -28px 40% 0 94px; }
    .slider-discont-main .content .akcion-big-el .old_price span {
      position: relative;
      text-transform: lowercase; }
      .slider-discont-main .content .akcion-big-el .old_price span .crossed:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: red; }
.slider-discont-main .content .akcion-small-el {
  cursor: pointer;
  margin: 0 4px; }
  .slider-discont-main .content .akcion-small-el .pic {
    padding-left: 0;
    padding-right: 0; }
    .slider-discont-main .content .akcion-small-el .pic img {
      border: 1px solid #FFFFFF;
      padding: 0; }
  .slider-discont-main .content .akcion-small-el .info .price {
    color: #B32121;
    font-size: 12px; }
  .slider-discont-main .content .akcion-small-el .info .old_price {
    font-size: 10px;
    color: #020202;
    text-decoration: line-through; }
.slider-discont-main .content .slider-main-small {
  background: #F5F5F5;
  padding: 5px 35px; }
  @media screen and (max-width:650px) {
    .slider-discont-main .content .slider-main-small {
      display: none; } }
  .slider-discont-main .content .slider-main-small .slick-prev {
    left: 12px;
    opacity: 1!important;
    top: 50%;
    z-index: 20; }
  .slider-discont-main .content .slider-main-small .slick-next {
    right: 12px;
    opacity: 1!important;
    top: 50%;
    z-index: 20; }
.slider-discont-main .content .slick-arrow::before {
  color: black; }

.not-front #block-mkmod-ad-block {
  padding: 0; }

.rekv-token .whatsap-ico {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url(../i/icon_whatsapp.png) 0 0 no-repeat;
  background-size: contain;
  vertical-align: middle; }

/*
.limits{display:none;}
#block-views-main-slider-main-slider-focus{float:left;width:100%;}
#block-views-dfc135f0d7bdb4e809e16fa5b77d4dbf{float:left;width:100%;}
.slider-discont-main .slider-main-small {}
*/
#block-system-main .product.full.node .taba-title {
  color: #d254c9;
  text-align: center; }

#block-system-main .product.full.node .product-tabs {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: Verdana,Arial; }
  @media screen and (max-width: 769px) {
    #block-system-main .product.full.node .product-tabs {
      font-size: 0.7em; } }
  @media screen and (max-width: 479px) {
    #block-system-main .product.full.node .product-tabs {
      font-size: 0.6em; } }
  @media screen and (max-width: 390px) {
    #block-system-main .product.full.node .product-tabs {
      font-size: 0.5em; } }
  #block-system-main .product.full.node .product-tabs li {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d3d3d3;
    border-radius: 3px 3px 0 0;
    border-bottom: none; }

.current-content-of-tab {
  padding: 1em;
  background-color: #f7f7f7; }
  .current-content-of-tab .wrap {
    padding: 0.3em;
    background: white; }

/* Оптовики ... страница  */
#node-1566 .mini-titl-1 {
  color: block;
  font-size: 1.428em;
  font-style: italic; }
#node-1566 .mini-titl-2 {
  color: #600061;
  font-size: 1.67em; }
#node-1566 img {
  width: 100%;
  height: auto; }
#node-1566 ul.optovik-list-punkts {
  padding: 0!important;
  column-count: 2;
  color: #616161;
  overflow: hidden;
  font-size: 1.14em; }
  #node-1566 ul.optovik-list-punkts::after {
    display: block;
    column-count: auto;
    content: ''; }
  @media screen and (max-width:570px) {
    #node-1566 ul.optovik-list-punkts {
      column-count: auto; } }
  #node-1566 ul.optovik-list-punkts li {
    margin: 0.5%;
    box-sizing: border-box;
    padding: 0 0  0.5em 4.125em;
    vertical-align: top;
    background-position: 0 3px;
    background-repeat: no-repeat;
    min-height: 3.5em;
    list-style: none outside none!important;
    font-weight: bold; }
    #node-1566 ul.optovik-list-punkts li.mt-1 {
      margin-top: 1em; }
    @media screen and (max-width:570px) {
      #node-1566 ul.optovik-list-punkts li {
        min-height: 5em;
        padding-left: 5em; }
      #node-1566 ul.optovik-list-punkts li.mt-1 {
        margin-top: 0; } }
    #node-1566 ul.optovik-list-punkts li.optovik-1 {
      background-image: url(../i/time-money-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-2 {
      background-image: url(../i/percent-sale-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-3 {
      background-image: url(../i/gruz-sendor-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-4 {
      background-image: url(../i/money-hand-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-5 {
      background-image: url(../i/organizacia-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-6 {
      background-image: url(../i/regim-obj-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-7 {
      background-image: url(../i/podbor-mater-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-8 {
      background-image: url(../i/product-infa-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-9 {
      background-image: url(../i/buch-info-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-10 {
      background-image: url(../i/map-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-11 {
      background-image: url(../i/transport-ico.png); }
    #node-1566 ul.optovik-list-punkts li.optovik-12 {
      background-image: url(../i/bud-dom-ico.png); }
    #node-1566 ul.optovik-list-punkts li.breakpoint {
      break-after: column; }
#node-1566 ul.reg-places {
  margin: -0.5em;
  padding: 0; }
  #node-1566 ul.reg-places li {
    list-style: none outside none;
    margin: 0.9%;
    background-color: #e0fbfb;
    width: 48%;
    float: left;
    box-sizing: border-box;
    font-size: 1.428em;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0.7em 0 0.7em 4.75em;
    background-position: 0.5em 50%;
    background-repeat: no-repeat; }
    @media screen and (max-width:710px) {
      #node-1566 ul.reg-places li {
        width: 100%; } }
    #node-1566 ul.reg-places li.reg-on-1 {
      background-image: url(../i/postavkin-portal.png); }
    #node-1566 ul.reg-places li.reg-on-2 {
      background-image: url(../i/u-torg-platform.png); }
    #node-1566 ul.reg-places li.reg-on-3 {
      background-image: url(../i/u-torg-place.png); }
    #node-1566 ul.reg-places li.reg-on-4 {
      background-image: url(../i/zakupka-portal.png); }
#node-1566 .jobs-mit-uns {
  padding: 0 3em; }
  #node-1566 .jobs-mit-uns img {
    border: 1px solid #e0e0e0;
    border-radius: 0.5em;
    display: block;
    margin: 0.5em; }
  #node-1566 .jobs-mit-uns .slick-arrow {
    display: block;
    width: 2em;
    height: 2em;
    border: 2px solid #636262;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    cursor: pointer;
    text-align: center;
    line-height: 2em;
    color: #de85d3; }
    #node-1566 .jobs-mit-uns .slick-arrow.slic-prev-arr {
      left: 0em; }
    #node-1566 .jobs-mit-uns .slick-arrow.slic-next-arr {
      right: 0em; }

/* START CHECKOUT PAGE */
.checkout-form-element, body.page-checkout #block-system-main .el-assept-politik, body.page-checkout #block-system-main .form-wrapper {
  width: 580px;
  margin: 0 auto 0.5em; }
  .checkout-form-element::after, body.page-checkout #block-system-main .el-assept-politik::after, body.page-checkout #block-system-main .form-wrapper::after {
    display: block;
    content: '';
    clear: both; }
  @media screen and (max-width:630px) {
    .checkout-form-element, body.page-checkout #block-system-main .el-assept-politik, body.page-checkout #block-system-main .form-wrapper {
      width: 100%; } }

body.page-checkout #block-system-main {
  padding: 10px; }
  body.page-checkout #block-system-main .commerce-line-item-views-form .commerce-line-item-actions {
    display: none; }
  body.page-checkout #block-system-main .views-field-title a {
    text-decoration: none !important;
    color: #999 !important;
    cursor: default; }
  body.page-checkout #block-system-main .checkout-buttons {
    text-align: right;
    max-width: 580px;
    margin: 0 auto; }
    body.page-checkout #block-system-main .checkout-buttons .checkout-cancel {
      float: left; }
  body.page-checkout #block-system-main .el-assept-politik input {
    margin: 0; }
  body.page-checkout #block-system-main .link-politik {
    text-align: center; }
  body.page-checkout #block-system-main .form-wrapper label {
    float: left;
    width: 150px;
    margin: 3px 0 0 0;
    padding: 0; }
  body.page-checkout #block-system-main .form-wrapper label + input, body.page-checkout #block-system-main .form-wrapper label + div {
    float: right;
    width: 422px; }
  @media screen and (max-width:630px) {
    body.page-checkout #block-system-main .form-wrapper label, body.page-checkout #block-system-main .form-wrapper label + input, body.page-checkout #block-system-main .form-wrapper label + div {
      float: none;
      width: 100%; } }

/*
body.page-checkout .customer_profile_billing .fieldset-wrapper label + 
body.page-checkout .customer_profile_billing .fieldset-wrapper label + div {float: right;width: 422px;}

*/
/*
.checkout-buttons {text-align:right;width:580px;margin:0 auto;}
body.page-checkout #block-system-main {padding-left: 10px;padding-right: 10px;}
body.page-checkout .customer_profile_billing {float: left;width: 100%;margin: 5px 0 0 0;}
body.page-checkout .customer_profile_billing > legend {border: 0 none;color: #d254c9;width: 580px;margin: 0 auto 20px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper {margin: 0 auto;}
body.page-checkout .customer_profile_billing .fieldset-wrapper .form-wrapper, body.page-checkout .link-politik {max-width: 580px;margin-right: auto;margin-left: auto;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label {float: left;width: 150px;margin: 3px 0 0 0;padding: 0;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label + input {float: right;width: 422px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper label + div {float: right;width: 422px;}
body.page-checkout .customer_profile_billing .fieldset-wrapper > div {width: 100%;margin: 0 0 20px 0; overflow: hidden;}
body.page-checkout .customer_profile_billing .fieldset-wrapper input, 
body.page-checkout .customer_profile_billing .fieldset-wrapper textarea {float: left;margin: 0;padding: 0;width: 422px;border: 1px solid #B0B0B0;padding: 4px 8px;-webkit-border-radius: 5px;border-radius: 5px;}

body.page-checkout .customer_profile_billing .fieldset-wrapper textarea {height: 30px;resize: none;}
body.page-checkout .customer_profile_billing .fieldset-wrapper textarea:focus {height: auto;}



body.page-checkout .messages.error {
  float: none;
}

body.page-checkout .customer_profile_billing {
  float: none;
}
*/
body.page-checkout-complete h1, body.page-checkout-complete .breadcrumb {
  display: none; }
body.page-checkout-complete #block-system-main .checkout-completion-message {
  text-align: center;
  padding: 100px 0;
  border: 2px dashed #d254c9;
  padding: 0.5em;
  margin-top: 0.5em; }
  body.page-checkout-complete #block-system-main .checkout-completion-message h2 {
    color: #19D873;
    margin: 0 0 40px;
    position: relative;
    vertical-align: middle; }
    body.page-checkout-complete #block-system-main .checkout-completion-message h2::before {
      content: '';
      display: inline-block;
      width: 2em;
      height: 2em;
      background: url(../i/complete.png) 0 0 no-repeat;
      background-size: cover;
      vertical-align: middle;
      margin-right: 0.5em; }
  body.page-checkout-complete #block-system-main .checkout-completion-message span.text {
    font-size: 1.5em; }
    body.page-checkout-complete #block-system-main .checkout-completion-message span.text .number {
      color: #d254c9;
      font-weight: bold; }

.fancybox-wrap.form-in-popup, .fancybox-wrap.node-webform {
  width: auto!important; }

/*.fancybox-wrap.commerce-add-to-cart-confirmation {width: 60%!important;}*/
/*.fancybox-close {background:url(i/fancy-close.png) 50% 50% no-repeat;width: 23px;height: 23px;top:15px;right: 15px;}*/
.fancybox-close {
  background: url(../i/fancy-krest.png) 50% 50% no-repeat;
  background-size: contain;
  width: 23px;
  height: 23px;
  top: 15px;
  right: 15px; }

.fancybox-skin {
  background: white; }

@media screen and (max-width:1024px) {
  /*.fancybox-wrap,.fancybox-wrap.form-in-popup, .fancybox-wrap.node-webform {width:100%!important;left: 0!important;}*/
  .fancybox-wrap.form-in-popup {
    text-align: center; }

  .fancybox-wrap.form-in-popup .fancybox-inner {
    width: auto!important;
    display: inline-block;
    text-align: left; }

  /*.fancybox-wrap.form-QuickZakaz {width: auto!important;left:auto!important;}*/ }
/* адаптиция fancybox  */
@media screen and (max-width:769px) {
  .fancybox-overlay .fancybox-wrap {
    width: 100%!important;
    left: 0!important; }

  .fancybox-inner {
    width: 100%!important; } }
ul.imagesdecr-list {
  padding: 0!important;
  margin: 0;
  text-align: center; }
  ul.imagesdecr-list li {
    display: inline-block;
    width: 15em;
    padding: 0.5em;
    box-sizing: border-box; }
    ul.imagesdecr-list li img {
      max-width: 100%;
      height: auto; }

.page-node-2168 #block-system-main .bank-mogno, .fancybox-wrap .uslovia-kreditovania .bank-mogno {
  border: 1px solid #dcdcdc;
  padding: 0.5em;
  display: table; }
  .page-node-2168 #block-system-main .bank-mogno > *, .fancybox-wrap .uslovia-kreditovania .bank-mogno > * {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.29em; }
  @media screen and (max-width: 600px) {
    .page-node-2168 #block-system-main .bank-mogno, .fancybox-wrap .uslovia-kreditovania .bank-mogno {
      display: block; }
      .page-node-2168 #block-system-main .bank-mogno > *, .fancybox-wrap .uslovia-kreditovania .bank-mogno > * {
        display: block; }
      .page-node-2168 #block-system-main .bank-mogno img, .fancybox-wrap .uslovia-kreditovania .bank-mogno img {
        margin: 0 auto 1em; } }
  .page-node-2168 #block-system-main .bank-mogno img, .fancybox-wrap .uslovia-kreditovania .bank-mogno img {
    padding-right: 2.5em; }
.page-node-2168 #block-system-main h2, .fancybox-wrap .uslovia-kreditovania h2 {
  color: #b32121; }
.page-node-2168 #block-system-main ul.uslovia-of-kredit, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit {
  padding-left: 0; }
  .page-node-2168 #block-system-main ul.uslovia-of-kredit li, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li {
    list-style: none outside none;
    font-size: 1.29em; }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li::before {
      content: '';
      display: inline-block;
      width: 2.33em;
      height: 2.33em;
      vertical-align: middle;
      background: url(../i/kp/from300.png) 50% 50% no-repeat;
      background-size: contain;
      margin-right: 1em; }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li.pasport::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.pasport::before {
      background-image: url(../i/kp/passphone.png); }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li.stavka::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.stavka::before {
      background-image: url(../i/kp/16-percents.png); }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li.gr-rf::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.gr-rf::before {
      background-image: url(../i/kp/gr-rf.png); }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li.min-15::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.min-15::before {
      background-image: url(../i/kp/15min.png); }
    .page-node-2168 #block-system-main ul.uslovia-of-kredit li.point-300::before, .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.point-300::before {
      background-image: url(../i/kp/300-points.png); }
.page-node-2168 #block-system-main .genegal-uslovia, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia {
  color: #2c2c2c; }
  .page-node-2168 #block-system-main .genegal-uslovia .row, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row {
    margin: 0.5em 0;
    border: 1px solid #f0f0f0;
    padding: 0.5em;
    position: relative; }
    @media screen and (max-width: 768px) {
      .page-node-2168 #block-system-main .genegal-uslovia .row, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row {
        padding-left: 2.5em; } }
    .page-node-2168 #block-system-main .genegal-uslovia .row:nth-child(2n+1), .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row:nth-child(2n+1) {
      background: #f0f0f0; }
    .page-node-2168 #block-system-main .genegal-uslovia .row > div, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div {
      float: left; }
      .page-node-2168 #block-system-main .genegal-uslovia .row > div.num, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.num {
        width: 2em;
        font-weight: bold;
        color: #d254c9; }
        @media screen and (max-width: 768px) {
          .page-node-2168 #block-system-main .genegal-uslovia .row > div.num, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.num {
            position: absolute;
            top: 0.5em;
            left: 0.5em; } }
      .page-node-2168 #block-system-main .genegal-uslovia .row > div.key, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.key {
        padding: 0 1em 0 0;
        box-sizing: content-box; }
      .page-node-2168 #block-system-main .genegal-uslovia .row > div.sepor, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.sepor {
        float: none;
        clear: both;
        margin: 0.5em 0; }
      .page-node-2168 #block-system-main .genegal-uslovia .row > div.key, .page-node-2168 #block-system-main .genegal-uslovia .row > div.value, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.key, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.value {
        width: 47%; }
        @media screen and (max-width: 768px) {
          .page-node-2168 #block-system-main .genegal-uslovia .row > div.key, .page-node-2168 #block-system-main .genegal-uslovia .row > div.value, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.key, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.value {
            width: 100%; } }
      @media screen and (max-width: 768px) {
        .page-node-2168 #block-system-main .genegal-uslovia .row > div.key, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row > div.key {
          margin-bottom: 0.5em;
          border-bottom: 1px dashed #c0c0c0;
          padding-bottom: 0.5em;
          padding-right: 0; } }
    .page-node-2168 #block-system-main .genegal-uslovia .row:nth-child(2n+1) .key, .fancybox-wrap .uslovia-kreditovania .genegal-uslovia .row:nth-child(2n+1) .key {
      border-bottom-color: #d254c9; }

.fancybox-wrap .uslovia-kreditovania h2 {
  text-align: center;
  color: #800080;
  margin-bottom: 1em;
  font-size: 2.14em; }
.fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li {
  margin: .5em 0;
  font-size: 1.7em; }
  @media screen and (min-width:768px ) {
    .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li {
      white-space: nowrap; } }
  @media screen and (max-width:768px) {
    .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li {
      text-align: center; }
      .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li::before {
        display: block;
        margin: 0 auto; } }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li::before {
    background-image: url(../i/kp/from300-pp.png); }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.pasport::before {
    background-image: url(../i/kp/passphone-pp.png); }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.stavka::before {
    background-image: url(../i/kp/16-percents-pp.png); }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.gr-rf::before {
    background-image: url(../i/kp/gr-rf-pp.png); }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.min-15::before {
    background-image: url(../i/kp/15min-pp.png); }
  .fancybox-wrap .uslovia-kreditovania ul.uslovia-of-kredit li.point-300::before {
    background-image: url(../i/kp/300-points-pp.png); }
.fancybox-wrap .uslovia-kreditovania p {
  font-size: 1.2em; }

.button-win-closer-wrapper {
  text-align: right;
  clear: both;
  display: none; }
  .button-win-closer-wrapper button {
    background: white;
    color: #b9a1bb;
    border: 3px solid #e8d3ea;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.15em;
    line-height: 1em;
    font-weight: bold;
    padding: 0.7em;
    display: inline-block;
    margin-top: 2.5em; }

@media screen and (max-width:320px) {
  .fancybox-wrap.node-1549 .button-win-closer-wrapper {
    display: block; } }
@media screen and (max-width:1200px) {
  .fancybox-wrap.node-1524 .button-win-closer-wrapper {
    display: block; } }
@media screen and (max-width: 768px) {
  .fancybox-wrap .uslovia-kreditovania .button-win-closer-wrapper {
    display: block; } }
.block-mit-logo .content .sepor {
  height: 1px;
  background: #d6d6d4;
  margin: 1em 0; }

.container-term-wrapp-autoload::after {
  content: '';
  display: block;
  clear: both; }

.hitrolinks-wrapper .controll-panel {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  color: blue;
  z-index: 1;
  cursor: pointer;
  transition: all .4s; }
  .hitrolinks-wrapper .controll-panel.active {
    color: red; }
.hitrolinks-wrapper .popup-lisks .show-popup-links {
  color: #428bca;
  border: 1px solid #428bca;
  border-radius: 0.3em;
  padding: .3em;
  display: inline-block;
  cursor: pointer;
  margin: .5em 0 1em; }

#hitro-groups-list-form #edit-addmore, #hitro-links-list-form #edit-addmore {
  margin-top: .5em;
  display: inline-block; }
#hitro-groups-list-form .tags-wraper .draggable .handle::after, #hitro-links-list-form .tags-wraper .draggable .handle::after {
  float: none; }
#hitro-groups-list-form .form-actions input, #hitro-links-list-form .form-actions input {
  display: inline-block;
  margin-right: 0.5em; }

.hl-win-wrapp {
  background: #f4fbfe;
  padding: 1.4em 1em;
  display: none; }
  .hl-win-wrapp ul {
    margin: 0;
    padding: 0!important; }
    .hl-win-wrapp ul li {
      list-style: none outside none;
      display: inline-block;
      padding-bottom: 0.5em; }
      .hl-win-wrapp ul li a {
        display: block;
        border: 1px solid #d254c9;
        padding: .2em;
        border-radius: .2em; }
        .hl-win-wrapp ul li a:hover {
          text-decoration: none;
          background: white; }
    .hl-win-wrapp ul.l1 > li {
      display: block;
      padding-bottom: 0.5em;
      margin-bottom: .5em;
      border-bottom: 1px dashed #e7a5e3; }
      .hl-win-wrapp ul.l1 > li:last-child {
        border: none; }
      .hl-win-wrapp ul.l1 > li .group {
        font-weight: bold; }
